:root {
  --primary-color: #4f5e6b;
  --secondary-color: #f5f0e1;
  --accent-color: #4d4b4a;
  --background-color: #f0f0f0;
  --text-color: #333;
  --header-footer-bg: #000000;
}

body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  overflow-x: hidden;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 98vw;
} 

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: var(--header-footer-bg);
  color: white;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  background-color: var(--secondary-color);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--primary-color);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: white;
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

li:hover {
  background-color: var(--accent-color);
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

li h3 {
  margin: 0;
  font-size: 1.5em;
  font-weight: bold;
  color: var(--primary-color);
}

li p {
  margin: 5px 0;
  color: var(--text-color);
}

li p:last-child {
  font-style: italic;
  color: var(--primary-color);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: var(--header-footer-bg);
  color: white;
  text-align: center;
}

@media (max-width: 600px) {
  .container {
    padding: 10px;
  }

  li h3 {
    font-size: 1.2em;
  }

  li p {
    font-size: 0.9em;
  }
}
